body {
  background-color: #fff9db;
  height: 100vh;
}

.app {
  position: relative;
  top: 20%;
  display: grid;
  width: 350px;
  max-width: 90vw;
  margin: auto;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #182228;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 90px repeat(5 , 70px);
  grid-template-areas:
  "res res res res"
  "7 8 9 reset"
  "4 5 6 reset"
  "1 2 3 reset"
  "0 dot plus minus"
  "equal equal times div";
}

h3 {
  text-align: right;
  margin: 7px 10px 0 0;
  padding-top: 20px;
  font-size: 2rem;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.753);
  grid-area: res;
}

button {
  background: teal;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s;
  font-size: 1.20rem;
}

button:hover {
  background: rgb(5, 190, 190);
}

#equal {
  grid-area: equal;
}

#clear {
  grid-area: reset;
}
